body {
        font-family: 'helvetica', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 50px;
        bottom: 50px;
        left: 50px;
        right: 50px;
      }
      canvas {
        border: 1px solid hsl(0,10%,90%);
        width: auto;
        height: 100%;
      }