body {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0px;
        bottom: 350px;
        left: 250px;
        right: 250px;
      }


      h1{
    font-family: 'Itim', cursive;
    font-size: 30px;

     }
     h2{
    font-family: 'Itim', cursive;
    font-size: 30px;

     }