body {
        font-family: 'helvetica', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0px;
        bottom: 350px;
        left: 50px;
        right: 250px;
      }
      canvas {
        border: 10px solid hsl(0,10%,90%);
        width: 800px;
        height: 800px;
      }